*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     

   }

   @import url('https://fonts.cdnfonts.com/css/miama');


h1,h2,h3,h4,h5,h6,body {

     font-family: "Inter", sans-serif;
    
   }
h1,h2,h3,h4,h5,h6 {
     color: #fff;
}

h1 {
     font-weight: 900;
     font-size: 78px;

}

h2 {
     font-size: 50px;
}
@media screen and (max-width :576px){
     h2 {
          font-size: 30px;
     }    
}
h3 {
     font-size: 22px;
}
@media screen and (max-width :576px){
     h3 {
          font-size: 24px;
     }  }
h4{ 
     font-size: 20px;

}
h5 {
     font-size:18px ;
}

 p {
     color: #b0b0b0;
     font-size: 15px;
    
 }

/* Dynamic setup */

/* Header section css start here */

.header {
     display: flex;
     justify-content:space-around;
     align-items: center;
     padding-top: 10px;    
     column-gap: 270px;
     z-index: 10px;
}
.logo {
     color: #ff5733;
     font-size: 56px;
     text-decoration: none;
     font-style: italic;
}

.nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     border-radius: 50px;
     border-width: 2px;
     border-color: #49494969;
     width: 35%;
     border-width: 1px;
     border-style: solid;
         
}
.nav a  {
        
     text-decoration: none;
     color: #fff;  
     padding: 10px 35px; 
     gap: 20px;
}
.nav a:hover {
    border-radius:30px;
    border-style: solid;
    background-color: #ff5733;       
    text-decoration: none;
    color: #fff;
    border-color:  #ff5733;  

}
/* header resposive here */

/* header section responsive here */

@media screen  and ( max-width : 576px) {
     .header {
          flex-direction: column;
          align-items:center;
          padding: 20px;
          margin-bottom: 15px;
     }
     .logo {
          
          font-size: 66px;
     }
     .nav {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-radius: 50px;
          border-width: 2px;
          border-color: #49494969;
          width: 100%;
          border-width: 1px;
          border-style: solid;
              
     }
     .nav a  {
        
          text-decoration: none;
          color: #fff;  
          padding: 10px 25px; 
          gap: 5px;
          font-size: 12px;
     }
     
}
@media screen and (min-width : 576px) and (max-width : 992px) {
     .nav a  {
        
          text-decoration: none;
          color: #fff;  
          padding: 10px 35px; 
          gap: 10px;
          font-size: 12px;
     }
     .header {
          display: flex;
          justify-content:space-around;
          align-items: left;
          padding-top: 10px;    
          column-gap: 20px;
          z-index: 10px;
     }
     .logo {
          
          font-size: 56px;
          
     }
     .nav {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-radius: 50px;
          border-width: 2px;
          border-color: #49494969;
          width: 55%;
          border-width: 1px;
          border-style: solid;
              
     }
    
}

/* Header section css end here */

/* Banner css star here */

.banner {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 15px;
     padding-top: 160px;
     padding-bottom:0px;
     background: linear-gradient(180deg, #000000 50%, rgba(67, 67, 67, 0)310%);
     column-gap: 140px;
     margin-top: -140px; 
     
     
}
.shape{

     font-family: 'Miama Nueva' sans-serif;                                                                                                                                                                        
     font-weight: 300;
     font-size: 73px;
     font-style: Italic;
     overflow: hidden;
}
.banner-p {
     padding-top: 20px;
     padding-bottom:40px;
     
     
}
.banner-h1 {
     font-weight: 900;
     font-size: 78px;
   
}
.column-2 {
     margin-bottom: -04px;
     
}

.btn-1 {
     padding: 13px 35px;
     background-color: #ff5733;
     border-radius: 50px;
     text-decoration: none;
     color: #f3f3f3;
     margin-right:10px;

     
}
.btn-1:hover {
     background-color:#00000000;
     border-width: 1px;
     border-color: #ffffff;
     border-style: groove;
     color: #ffffff;
}
.btn-2 {
     padding: 11px 35px;
     background-color: #f93c1600;
     border-radius: 50px;
     text-decoration: none;
     color: #f3f3f3;
     border-width: 1px;
     border-style: groove;
}

.btn-2:hover {
     border-radius:30px;
     border-style: solid;
     background-color: #ff5733;       
     text-decoration: none;
     color: #fff;
     border-color:  #ff5733;  
 
 
 }

.mini-box-1 {
     padding: 15px 12PX;
     background-color: #f3f3f31b;
     margin: 10px;
     border-radius: 8px;
     align-self: center;
     box-shadow: #7a7a7a7e;
     display: inline-block;
     position:absolute;
     margin-left: -140px;
     margin-top: 120px;
    
}
.mini-box-2 {
     padding: 15px 12px;
     background-color: #f3f3f31b;
     border-radius: 8px;
     align-items: center;
     box-shadow: #7a7a7a7e;
     display: inline-block;
     margin-left: -380px;
     margin-top: 420px;
     position:absolute;

    
}  

/* banner section responsive here */

@media screen and (max-width : 576px) {
     .banner {
         
          flex-direction: column;
          margin-top: -180px; 
  
     }
     .shape{
  
          font-size: 50px;  
     }
     .banner h1 {
          font-weight: 700;
          font-size: 48px;
         padding-top: 30px;
          
     }
     .banner-p {
          padding-top: 17px;
          padding-bottom:50px;
          font-size: 18px;
          
     }
     .column-2 {
          margin-bottom: -04px;
          padding-top: 40px;
          

     }
     .btn-1 {
          padding: 13px 25px;
 
     }
     .btn-2 {
          padding: 13px 25px;
 
     }
     .column-1 {
          width: 100%;
     }
     .mini-box-1 {
          padding: 12px 12PX;
          margin-left: -155px;
          margin-top:75px;
     }
     .mini-box-1  p {
          font-size: 12px;
          
     }
     .mini-box-2 {
         
          margin-left: -310px;
          margin-top: 260px;
     
         
     } 
} 
@media screen and (min-width : 576px) and (max-width : 992px) {
     .banner {
         
          flex-direction: column;
  
     }
     .shape{
  
          font-size: 56px;  
     }
     .banner-h1 {
         
          font-size:38;
  
     }
     .banner-p {
          padding-top: 20px;
          padding-bottom:50px;
          font-size: 18px;
          
     }
     .column-2 {
          margin-bottom: -04px;
          padding-top: 30px;
          
     }
     .column-1 {
          padding: 20px;
          width: 100%;
          align-items: flex-start;
     }
}


/* Banner css end here */

/* Change your Habits section css start here */


.Change-your-habits{
     background-color: black;
     padding: 80px 15px;
     align-items: center;
     flex-direction: column;
     display: flex;
     gap: 20px;
    

}
.inner-section  { 
     align-items: center;
     display: flex;
     margin: 30px 90px 30px 90px;

}
.card {

     padding: 10px;
     align-items: center;
     justify-content:space-evenly;
     text-decoration: none;
     text-align: center;

}
.card img {
     border-radius:250px;
     margin-bottom: 25px;

}
.card p{
     
     padding: 15px;
     align-items: center;
}
@media screen and (max-width : 576px) {

     .Change-your-habits{
          padding: 30px 15px;

     }
     .inner-section  { 
          align-items: center;
          display: flex;
          margin: 30px 30px 30px 30px;
          flex-wrap: wrap;
   
     }
     .Change-your-habits p{
     
          padding: 15px;
         text-align: center;
     }
     .Change-your-habits h2 {
     
         text-align: center;
     }
   

     
}
@media screen and (min-width : 576px) and (max-width : 992px){

     .Change-your-habits{
          padding: 30px 35px;
 
     }
     .inner-section  { 
          align-items: center;
          display: flex;
          margin: 30px 30px 30px 30px;
          flex-direction:column;
     
     }
     .Change-your-habits p{
     
          padding: 15px;
         text-align: center;
     }
   
}
/* Change your Habits section responsive css end here */
/* Change your Habits section css end here */
/*Run an Extra Mile Easily css start here*/

.Run-an-Extra {
     display: flex;
     justify-content:space-around;
     align-items: center;
     background-color: #000000;
     flex-direction: column;
     padding:0px 140px 60px 140px;

}

.Run-an-Extra img {
     width:550px;   
     border-radius: 10px;

}
.inner-section-run {
     display: flex;
     justify-content:space-around;
     align-items: center;
     background-color: #222222;
     flex-direction: row;
     padding: 25px;
     margin-left: 15px;
     margin-right:15px;
     box-shadow: #1b1b1b;
     border-radius: 10px;
     column-gap: 120px;
     
}
.container-1  p {
     padding-top: 20px;
     padding-bottom: 40px;

}
.container-1 a {
     padding: 12px 35px;
     background-color: #ff5733;
     border-radius: 50px;
     text-decoration: none;
     color: #f3f3f3;
     
}
.container-1 a:hover {
     background-color:#00000000;
     border-width: 1px;
     border-color: #ffffff;
     border-style: groove;
     color: #ffffff;
}

@media screen and (max-width : 576px) {
     .inner-section-run {   
          flex-direction:column;  
          column-gap: 20px;
          padding: 20px;

     }
    
     .Run-an-Extra {
    
          padding:20px 175px 20px 175px;

     }
     .Run-an-Extra img {
          width:280px;   
          border-radius: 10px;
          margin-top: 50px;
          
     }
     .card p{
     
          padding: 0px;
     }
     .container-1 {
          width:100%;
     }
     .container-2 {
          width:100%;
     }
}

@media screen and (min-width : 576px) and (max-width : 992px) {
     .inner-section-run {   
          flex-direction:row;  
          column-gap: 10px;
          
     }
     .Run-an-Extra {

          flex-direction: column;
          padding:20px 10px 20px 10px;

     }
     .card p{
     
          padding: 0px;
     }

     .Run-an-Extra img {
          width:280px;   
          border-radius: 10px;
     }
     .container-1 {
          padding-bottom: 20px;
     }
}
/* Run an Extra Mile Easily resposive here */
/* Run an Extra Mile Easily css end here */
/* Trainings and Exercises css stat here */
.trainings-and-exercises {
     display: flex;    
     background-color:black;
     flex-direction: column;
     padding:70px 170px; 
     margin: 0px;
    
}
.trainings-and-exercises p {
    margin-top: 20px;

}
.trainings-card {
     display: flex;       
     flex-direction:row;     
     flex-wrap: wrap;    
     row-gap: 0px;
     margin-top: 30px;
}
.trainings-1 {
     background-image: url(images/exercise1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     align-content: flex-end;    
     background-color: #05dbd08a;
     background-blend-mode: color-dodge;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 30%;
}
.trainings-1 p{
     color: #000000;
}
.trainings-2 {
     background-image: url(images/exercise2.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     align-content: flex-start;      
     background-color: #db1a058a;
     background-blend-mode: color-dodge;
     margin: 0%;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 40%;   
}
.trainings-2 p{
     color: #ffffff;
}
.trainings-3 {
     background-image: url(images/exercise3.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     align-content: flex-end;
     background-color: #0000006a;
     background-blend-mode: color-dodge;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 30%;
         
}
.trainings-3 p{
     color: #ffffff;
}
.trainings-4 {
     background-image: url(images/exercise4.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;  
     background-color: #0000006a;
     background-blend-mode: color-dodge;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 40%;
}
.trainings-4 p{
     color: #ffffff;
     text-align: right;
     
}
.trainings-5 {
     background-image: url(images/exercise5.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     align-content: flex-end;
     background-color: #0afe0a5d;
     background-blend-mode: color-dodge;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 25%;
         
}
.trainings-5 p{
     color: #ffffff;
}
.trainings-6 {
     background-image: url(images/exercise6.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     align-content: flex-end;
     background-color: #0411ff9a;
     background-blend-mode: color-dodge;
     margin: 0%;
     padding: 25px; 
     height: 250px;
     width: 35%;
         
}
.trainings-6 p{
     color: #ffffff;
}
@media screen and (max-width : 576px) {
     .trainings-and-exercises {
        
          padding:20px 30px; 
          margin: 0px;
         
     }
    .trainings-1 {
     width: 50%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-2 {
     width: 50%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-3 {
     width: 40%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-4 {
     width: 60%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-5 {
     width: 60%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-6 {
     width: 40%;
     padding: 15px; 
     height: 200px;
    }
}
@media screen and (min-width : 576px) and (max-width : 992px) {
     .trainings-and-exercises {
          padding:20px 30px; 
          margin: 0px;
         
     }
    .trainings-1 {
     width: 50%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-2 {
     width: 50%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-3 {
     width: 40%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-4 {
     width: 60%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-5 {
     width: 60%;
     padding: 15px; 
     height: 200px;
    }
    .trainings-6 {
     width: 40%;
     padding: 15px; 
     height: 200px;
    }
}


/* BMI-Calculator css start here */

.BMI-Calculator {
     display: flex;
     justify-content:space-evenly;    
     background-color: #000000;
     flex-direction: column;
     padding:20px 55px 90px 55px;
     row-gap: 20px; 
     align-items: center;
       
    
}
.BMI-Calculator-inner-section {

     max-width: 700px;
}  
.BMI-Calculator-inner-section  p {
     margin-top: 20px;
     
 }


/* BMI-Calculator css end here */

/* BMI-calculator-chart css start here */
.Calculator {
     display: flex;
     justify-content:space-around;    
     background-color: #222222;
     flex-direction:row;
     padding:80px 155px 80px 155px;
     gap: 100px; 
     align-items: center;
     
     
    
}
.BMI-calculator-form{
     width: 50%;

}
.BMI-calculator-form p {
     margin-top: 10px;
     margin-bottom: 10px;
}

.form select,input {
     background-color:  #3c3c3c;
     padding: 12px;
     border-radius:5px;
     margin-top: 8px;
     margin-bottom: 8px;    
     width: 100%;
     border-width: 0px;   
     gap: 15px;
     z-index:  8px;
     width: 40%;
     
     
}
#btn-form{
     color: #ffffff;
     background-color: #ff5733;
     padding: 12px 45px 12px 45px;
     font-size: larger;
     border-radius: 50px;
}
#btn-form:hover {
     background-color:#00000000;
     border-width: 1px;
     border-color: #ffffff;
     border-style: groove;
     color: #ffffff;
}
#select-activities {
     width: 81%;

}
.form select  {  
     color:#b0b0b0;
}
.BMI-calculator-chart{
     width: 50%;
    
}
.table { 
text-align: left;
margin-top: 50px;
border-collapse: collapse;

}

.table thead {
     color: #ffffff;
}
.table tbody {
     color: #b0b0b0;
}
.table th,td {
     padding: 13px 20px;
     border-color: #3c3c3c;
     border-width: 1px;
     border-style: solid;
}
 @media screen and (max-width : 576px){
     .Calculator {
          display: flex;
          background-color: #222222;
          flex-direction:column;
          padding:80px 20px 80px 20px;
          gap: 50px; 
          align-items: center;  
         
     }
     .BMI-calculator-chart{
          width: 100%;         
     }
     .BMI-calculator-form{
          width: 100%;
     }
     
     .table {      
          margin-top: 20px;
             
          }
     .form {
          width: 100%;
     }     
      #btn-form{
      padding: 12px 30px 12px 30px;
      text-align: center;
        
     } 
     .form select,input {
      width: 45%;
          }
     #select-activities {
          width: 91%; 
     }    
}
@media screen and (min-width : 576px) and (max-width : 992px){
     .Calculator {
          display: flex;
          background-color: #222222;
          flex-direction:column;
          padding:80px 35px 80px 35px;
          gap: 50px; 
          align-items: center;  
         
     }
     .BMI-calculator-chart{
          width: 100%;         
     }
     .BMI-calculator-form{
          width: 100%;
     
     }
     
     .table {      
          margin-top: 20px;
             
          }

            

}
/* Bmi-calculator-chat resposive */
/* BMI-calculator-chart css end here */
/* team css start here */
.meet-our-team{
     display: flex;
     justify-content:space-between;    
     background-color: #000000;
     flex-direction:column;
     padding:20px 55px 20px 55px;
     row-gap:10px; 
     align-items: center; 

}
.Team {
     display: flex;
     justify-content:space-between;    
     background-color: #000000;
     flex-direction:column;
     padding:60px 55px 0px 55px;
     row-gap:10px; 
     align-items: center;   
     
    
}
.team-trainer {
     margin: 50px 80px;
     padding: 10px;
     background-color: #6c6c6c3d;
     border-radius: 15px;
     box-shadow: #000000;
     display: flex;
     justify-content:space-evenly;        
     flex-direction:row;
     align-items: center;
     flex-wrap: wrap;
    
}
.trainer-1 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer1.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
     
}
.trainer-2 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer2.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
    
}
.trainer-3 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer3.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
    
}
.trainer-4 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer4.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
     
}
.trainer-5 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer5.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
     
}
.trainer-6 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(images/trainer6.png);
     align-content: flex-end;
     padding: 20px;
     height: 350px;
     width: 380px;
     border-radius: 15px;
     margin: 10px;
     
}
/* team responsive start here */
@media screen and (max-width : 576px) {

     .team-trainer {
          margin-left: 15px;
          margin-right: 15px;
          
     }
     .Team { 
          text-align: center;
          padding: 30px 15px 0px 15px;

}

.trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6 {
     height: 350px;
     width: 340px;
     align-content: flex-end;
     
}
     
}
@media screen and (min-width : 576px) and (max-width : 992px){
     .meet-our-team{
          display: flex;
          justify-content:space-between;    
          background-color: #000000;
          flex-direction:column;
          padding:20px 15px 20px 15px;
          row-gap:10px; 
          align-items: center; 
     
     }
     .Team { 
          text-align: center;
          padding: 30px 25px 0px 25px;


 
}
.team-trainer {
     margin: 10px 10px;
     padding: 10px;
     background-color: #6c6c6c3d;
     border-radius: 15px;
     box-shadow: #000000;
     display: flex;
     justify-content:space-evenly;        
     flex-direction:row;
     align-items: center;
     flex-wrap: wrap;
    
}
.trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6 {
     height: 280px;
     width: 320px;
}
     

}
/* team section medium devices responsive end here */


/* team css end here */
/* footer css start here */
.footer {
     background-color: #222222;
     padding: 70px 15px;
     display: flex;
     justify-content:space-evenly;        
     flex-direction:row;
     align-items: center;
     gap: 40px;
     width: 100%;
}
.footer-colum{
     width: 30%;
}

.Get-Started  li {
     margin-top: 10px 10px;
     padding-top:15px ;
     list-style: none;
     color: #b0b0b0;
   
}
.Get-Started li:hover {    
     color: #ff5733;
     
}

.Get-Started  h4 {
     padding-bottom:10px ;
}
.footer-colum p {
     margin-top:20px;
     margin-bottom: 40px;
}
.copyright {
     background-color:#222222;
     padding: 20px 15px;
     display: flex;
     justify-content:space-around;           
     align-items: center;
     gap: 40px;

}
.copyright p {

   padding-bottom: 20px;
   border-top: #3c3c3c;
   border-width: 1px 0px 0px 0px;
   border-style: solid;
   padding-top: 15px;
   padding-right: 450px;
   padding-left: 450px;
}
/* footer responsive start here */
@media screen and (max-width : 576px) {

     .footer {
          flex-direction:column;
          padding: 2px 20px;
          align-items: self-start;
          gap: 20px;

     }
     
     .copyright p {
          padding-left:50px;
          padding-right:50px;
          text-align: start;
        
     }
     .footer-colum{
          width: 100%;
     }
       }
/* Footer small device responsive end */
@media screen and (min-width : 576px) and (max-width : 992px){

     .copyright p {

          padding-left:170px;
          padding-right:170px;
          text-align: center;
                   
     }

     .footer-colum {
          width: 90%;
 
     }
     .Get-Started {
           
          width: 330px;
     }

     .footer {
          
          padding: 30px 20px;
          flex-wrap: wrap;
          justify-content: flex-start;

     }

     }
/* Footer medium device responsive here end*/



